/* navigation and header text  style start */
nav{
    display:flex;
}
#login{
    margin-left:500px;
}

nav li{
    list-style: none ;
    margin-right: 20px;
   
   
}
nav li a{
    text-decoration: none ;
    color:black;
}
nav ul{
    display :flex;
}

body{
    font-family: 'Poppins', sans-serif;
}
.copa{
    margin-left: 30px;
    

}
header{
    background-color: green;
    width :1440px;
    height:400px;
    margin-left :0;
    margin-right: 0;
    

    
}
button{
    border-radius:15px;
    margin-left: 40px;
    border:0;
    padding:20px;
    background-color:orange;
    
}
.banner img{
    position: absolute;
    width: 600px;
    height: 300px;
    margin-left: 220px;
    
    
}
.banner{
    display :flex;
}
.head-title{
    font-size: 35px;

}
/* header images rotation and text  */
.picture-rotate img:hover{
    width:700px;
    height:300px;
    transform: rotate(10deg);

}
/* players image and detail size */
.players_profile img{
    width:300px;
    height :256px;
}
.players_profile{
    width:330px;
    height:474px;
    top:0px;
    padding :16px;
}
/* palayer grid this site  */
.players_grid{
     display :grid;
    grid-template-columns:repeat(3,1fr) ;
    width: 1050px;
    left: 180px;
    top: 1248px;
    }
    /*  */
 article li{
     list-style: none ;
     margin-right: 20px;
     padding:12px;
     
 }
 article li a{
     text-decoration: none;
     color:black;
     background-color: rgb(19, 9, 112);
     padding :12px;
     border-radius: 12px;
 }
 article ul{
     display :flex;
 }

/* ----------------------------------------footer style------------------------------------ */
}
footer img{
    
    width:32px;
    height:32px;

}
footer {
    text-align: center;
}
.football_png_file{
    width:400px;
    height:110px;
    border-left:0;
    border-right:0;
    margin-left: 0;
}
 